
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.content {
  /*
   * Define CSS Grid
  */
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
  
}

.entry-content p {
  max-width: 33em;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}
