/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* General Layout */

.site-header,
.site-content {
  padding: 0 2em;
}

@media screen and (min-width: 37.5em) {
  
  /*
  Define min-height for content.
  Header is: 2em (top padding) + 4em = 6em
  
  */
  .site-content {
    min-height: calc(80vh);
  }

}



/* Header */

.site-title-link {
	width: 2em;
	height: 2em;
	position: fixed;
}

.site-title-link a {
	display: block;
	width: 1em;
	height: 1em;
	background: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 2em;
}



/* Layout for wider screens */

@media screen and (min-width: 37.5em) {
  
  .single .entry-header {
    font-size: 120%;
  }
  .single .entry-content {
    width: 50%;
    float: right;
  }
  
  .single .entry-header,
  .single .entry-footer {
    width: 50%;
    float: left;
    clear: left;
    text-align: right;
    padding-right: 2em;
  }
  
  .single .entry-content,
  .single .entry-footer {
      margin-bottom: 2em;
  }
      
  
  .post-navigation {
    clear: both;
  }
  
  /* split title and content */
}

@media screen and (min-width: 50em) { 

  .single .entry-header,
  .single .entry-footer {
    width: 40%;
  }
  .single .entry-content {
    width: 60%;
    padding-right: 10%;
  }

}


